header {
    color: white;
    background: rgb(22, 204, 180);
    height: 50px;
    padding: 1%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 20px;
    }
}