header {
    color: white;
    background: rgb(22, 204, 180);
    height: 50px;
    padding: 1%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 20px;
    }

  
    // #p_prldr {
    //     position: fixed;
    //     left: 0;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     background: black;
    //     z-index: 30;
    // }

    // #p_prldr .svg_anm {
    //     margin: auto;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     width: 241px;
    //     height: 241px;
    //     background: url(../img/preloader1.svg) center center no-repeat;
    //     background-size: 241px;
    //     color: rgb(19, 190, 62);
    // }
}