html {

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 65px 30px;

    @media screen and (max-width: 812px) {
        & {
            padding: 37px 3px;
        }
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    .preview__video {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: fill;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        transform: scaleY(1.1) scaleX(1.05);

        @media screen and (max-width: 812px) {
            & {
                transform: scaleY(1.13) scaleX(1.06);
            }
        }
    }
}
