.category_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;

    img {
        width: 600px;
        height: 300px;
    }

    .posts {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}