.root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-start;

    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        nav {
            width: 600px;
            height: 100%;
            background-color: rgb(24, 180, 128);
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }
}